body{
    margin: 0;
    padding: 0;
    background: rgb(71,70,94);
background: linear-gradient(90deg, rgba(71,70,94,1) 0%, rgba(9,121,52,0.8799894957983193) 49%, rgba(36,94,106,1) 100%);

    
}
 .judul{
   text-align: center;
   padding-top: 10px;
   font-family: 'Courier Prime', monospace;
 
}
.logo{
   margin: auto;
   transition: 1s;

}


.logo .foto{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;

}

.logo:hover{
    transform: scale(1.1);
    z-index: 2;
}
.cards-container{
    text-align: center;
    margin-top: 100px;
}

.content{
    width: 900px;
    height: 1000px;
    background-color: white;
    margin: auto;
    border: 8px;
    border-style: solid;
    border-color: coral;
    
}
.owner img{ 
    width: 450px;
    position: fixed;
    margin-top:300px;
    
  
}
.footer{
    width: 100%;
    height: 40px;
    background-color: rgb(1, 2, 2);
}

.footer h2{
    text-align: center;
    color: whitesmoke;
}